body {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
}
.heading {
  background-color: #000;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.formdata {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formdata button {
  padding: 5px 0;
  background-color: #000;
  color: #fff;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 6px;
  max-width: 100px;
  width: 100%;
}
.form_data {
  margin: 5px 0;
  max-width: 400px;
  width: 100%;
}
.form_data label {
  font-size: 15px;
  font-weight: bold;
}
.form_data p {
  margin: 0;
}
.form_data input {
  padding: 10px;
  font-size: 18px;
  width: 100%;
}
.input_data {
  border-collapse: collapse;
  height: 420px;
  display: block;
  background-attachment: fixed;
  MAX-WIDTH: 435PX;
  WIDTH: 100%;
  MARGIN: 0 AUTO;

}
.input_data th,
td {
  padding: 8px;
  border: 2px solid ;
}
.btn {
  background-color: darkblue;
  color: #fff;
  padding: 3px;
  cursor: pointer;
  margin: 5px;
  max-width: 100px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid darkblue;
  font-weight: bold;
}
.btn:hover {
  background-color: #fff;
  color: darkblue;
}
.table_data {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.paggignation{
  margin-left:auto ;
  margin-top: 80px;
  display: block;
  width: 120px;
}
.model{
  background-color: grey;
  max-width: 500px;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 9999;
  color: #000;
  padding: 30px;
  transform: translate(-50%,-50%);
}
.close_btn{
  position: absolute;
  right: 0;
  top: 0;
}